<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.dao.EmployeeMapper">
    <!-- List<Books> queryALLBook() -->
    <select id="queryALLEmployee" resultType="com.my.vo.Employee">
        SELECT * FROM employee
    </select>
    <!-- int insertBook(Books book) -->
    <insert id="insertEmployee">
        insert into employee
            VALUE(#{EmployeeId},#{EmployeeName},#{EmployeeSex},#{EmployeeDepartment},#{EmployeeDutyType})
    </insert>
    <!-- int updateBook(Books book) -->
    <update id="updateEmployee">
        update employee set EmployeeName=#{EmployeeName},EmployeeSex =
            #{EmployeeSex},EmployeeDepartment = #{EmployeeDepartment},EmployeeDutyType = #{EmployeeDutyType}
        where EmployeeId = #{EmployeeId}
    </update>
    <!-- Books queryBookById(int id) -->
    <select id="queryEmployeeById" resultType="com.my.vo.Employee">
        select * from employee where EmployeeId=#{EmployeeId}
    </select>
    <!-- int deleteBookById(int id) -->
    <delete id="deleteEmployeeById">
        delete from employee where EmployeeId=#{EmployeeId}
    </delete>
</mapper>